.container-checkbox {
  background-color: $color-grey-primary;
  width: 30%;
  margin: auto;
  font-weight: 100;
  font-size: 20px;
}

.container-home {
  background-color: $color-grey-primary;
  width: 40%;
  margin: auto;
  font-weight: 100;
  font-size: 20px;
}

.container-navigation {
  width: 30vh;
  margin: 30px auto;
}
