$color-white: white;
$color-grey-primary: rgb(227, 227, 233);
$color-lavender: lavender;
$color-purple: purple;
$color-red: red;
$color-black: black;
$color-dark-purple: rgb(58, 14, 58);
$color-hover: rgb(231, 178, 178);
