* {
  padding: 0;
  margin: 0;
}

nav h2 {
  color: white;
  font-size: 15px;
  font-weight: 350;
}
.logo {
  font-size: 30px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 30px;
}
.container {
  width: 30vh;
  margin: 30px auto;
}
nav {
  position: absolute;
  width: 37vh;
  height: 100vh;
  background-color: rgb(27, 36, 66);
}

nav li {
  margin-left: 10px;
}
nav ul {
  list-style: none;
  margin-bottom: 20px;
}

ul li a {
  font-size: 14px;
  color: rgb(218, 215, 192);
  margin-left: 25px;
  text-decoration: none;
}

ul li a:active {
  color: rgb(231, 178, 178);
}
